{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Crear Nueva Radicación</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="numero_radicado" class="form-label">Número de Radicado:</label>
            <input type="text" class="form-control" id="numero_radicado" name="numero_radicado" required>
        </div>
        <div class="mb-3">
            <label for="proceso_consultado" class="form-label">Proceso Consultado:</label>
            <input type="text" class="form-control" id="proceso_consultado" name="proceso_consultado" value="No">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Crear Radicación</button>
    </form>
</div>
{% endblock %}